:root {
    --primary-color: #4CAF50;
    --primary-hover: #45a049;
    --background-color: #f0f0f0;
    --white: white;
    --text-color: #333;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    transition: background-color 0.5s;
}

.container {
    text-align: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.color-display {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

#color-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-hover);
}