name: CI-CD Pipeline Full

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Lint JavaScript
        run: npx eslint javascript.js || true

      - name: Sonar Scan
        uses: SonarSource/sonarqube-scan-action@v2
        with:
          args: >
            -Dsonar.projectKey=vsh4535-cyber_CICD
            -Dsonar.organization=vsh4535-cyber
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io

    
      - name: Build Static Files
        run: |
          mkdir temp
          cp index.html temp/
          cp styles.css temp/
          cp script.js temp/


      # Docker Login

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


      # Build Docker Image

      - name: Build Docker Image
        run: docker build -t vattemharshitha/dockerapp .


      # Push Docker Image
      - name: Push Docker Image
        run: docker push vattemharshitha/dockerapp

   
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: temp/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4